{%extends "base.html" %}
{%block content%}
{#    the text animation #}
    <h1>
        <div class='console-container'>
            <span id='text'>
            </span>
            <div class='console-underscore' id='console'>
              &#95;
            </div>
          </div>
    </h1>
    <p>
        This page is a project that I made using Django, Pillow, Python, Pycharm, HTML, CSS, JavaScript, and small amounts database manipulation. Feel free to post and browse!
    </p>
{%endblock content%}
